<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Thank you for your post <%= posts.author %> </h1>
    <p> Title: <%= posts.title %></p>
    <p> Content: <%= posts.content %></p>
    <a href="/entries">View All Entries</a>
</body>
</html>