* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: lightgray;
    padding: 20px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    color: black;
}

div {
    background-color: white;
    width: 60%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1rem;
    color: #333;
}

p:last-of-type {
    font-size: 0.9rem;
    color: black;
}

#no-post-header{
    color: red;
}

