* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: lightgray;
}

#container {
    display: flex;
    background-color: white;
    width: 50%;
    flex-direction: column;
    height: 400px;
    border-radius: .5rem;
    margin-top: 15px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin: 0 15px;
    margin-bottom: 5px;
}

input {
    height: 30px;
    padding: 5px;
    margin: 0 15px;
}

textarea {
    resize: none;
    height: 100px;
    margin: 0 15px;
    padding: 5px;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 15px;
    margin-top: 5px;
}

button {
    color: white;
    background-color: darkgreen;
    margin: 0 auto;
    border-radius: 5px;
    height: 30px;
}