body {
    background-color: lightgray;
}

#container {
    background-color: white;
    border: .5rem;
}

h1{
text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

label{
    width: 100%;
    margin-left: 5px
}

textarea, input {
    margin-left: 15px;
    margin-right: 15px;
}

textarea{
    resize: none;
    rows: 6;
}

